html {
    -webkit-font-smoothing: antialiased;
    background: #00171F;
}

a {
    color:#546A78; 
}

.first {
text-indent: 3em;
}

.sublink {
font-size: 17px;
}

a:hover {
    text-decoration: none;
    color: #F8F8FF;
}

.contain{
    position: absolute;
    top: 140px;
    text-align: center;
    left: 0;
    right: 0;
}

#light{
    z-index: 4;
    font-family: 'Kadwa', serif;
    font-size: 50px;
    padding-top: 90px;
    color: #FFFFFF;
    display: inline-flex;
    position: relative;
    text-align: center;
    font-weight: 20px;
    text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}

#dark{
    z-index: 4;
    font-family: 'Kadwa', serif;
    position: relative;
    display: inline-flex;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}

#body {
    display: none;
}

.sub{
    font-family: 'Montserrat', sans-serif;
    color: #3C5362;
    font-size: 17px;
    padding-top: 30px;
}

.container{
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    position: absolute;
    color: #F8F8FF;
    font-size: 20px;
    top: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    height: auto;
}

#about{
    
}
.back{
    position: relative;
    left: -10px;
}

.tab{
    margin-top: -120px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #F8F8FF;
    font-size: 17px;
}
.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

#home{
    margin-top: -75px;
}
::selection {
  background: white; 
}
::-moz-selection {
  background: white;
}

#blinking-cursor {
  font-weight: 100;
  font-size: 47px;
  color: #FFFFFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-o-keyframes "blink" {
  from, to {
