<!DOCTYPE html>
<html ng-app="site" ng-controller="ContentController as content" style="background-color:#00171F">
<head>
    <title>Charlie Rodiger</title>
    <meta name="theme-color" content="#00171F">
    <link href='https://fonts.googleapis.com/css?family=Kadwa:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="CSS/main.css" />
    <style type="text/css">
    .no-fouc {display: none;}
    </style>
    <script type="text/javascript">
    document.documentElement.className = 'no-fouc';
    </script>
    </head> 
<body>
<script type="application/javascript" src="scripts/angular.min.js"></script>
<script type="application/javascript" src="scripts/jquery-1.12.1.min.js"></script>
<script type="application/javascript" src="scripts/app.js"></script>
<div class="no-fouc">
    <div class="contain">
        <h1 id="light">Charlie<h1 id="dark">Rodiger<span id="blinking-cursor">|</span></h1></h1>
        <div class="sub">DEVELOPER AND CS STUDENT AT COLGATE UNIVERSITY</div>
    </div>
    <div class="container" ng-controller="ContentController as content"> 
        <div id="home" ng-show="content.tabs.home.show">
            <a href="javascript://" ng-click="document.title=About;content.title = About;content.tabs.about.show = true;content.tabs.projects.proj1.show = false;content.tabs.home.show = false">About</a> / <a href="javascript://" ng-click="content.tabs.about.show = false;content.tabs.projects.proj1.show = true;content.tabs.home.show = false">Projects</a> / <a target="_blank" href="https://github.com/Charrod">GitHub</a> / <a target="_blank" href="/resume.pdf">Resume</a> / <a href="mailto:crodiger@colgate.edu">Email</a> / <a target="_blank" href="https://keybase.io/charlier">KeyBase</a>
        </div>
        <div id="about" class="tab" ng-show="content.tabs.about.show">
            <h1 class="title"><a class="back" href="javascript://" ng-click="content.tabs.about.show = !content.tabs.about.show;content.tabs.home.show = true"><</a>{{content.tabs.about.tabname}}</h1>
            <p class="first">{{content.tabs.about.description}}</p>
            <p class="tools">Languages: {{content.tabs.about.skills}}</p>
        </div>
        <div id="projects" class="tab" ng-show="content.tabs.projects.proj1.show">
            <h1 class="title"><a class="back" href="javascript://" ng-click="content.tabs.projects.proj1.show = false;content.tabs.home.show = true" ng-hide="content.tabs.home.show"> < </a>Projects</h1>
                <div ng-repeat="tab in content.tabs.projects" ng-show="content.tabs.projects.proj1.show">
                    <h1 class="title"><a style="color:white" href="{{tab.link}}">{{tab.name}}</a></h1>
                    <a href="{{tab.link}}" class="sublink">View on GitHub</a>
                    <p>{{tab.description}}</p>
                    <p class="tools">Tools used: {{tab.tools}}</p>
                    <hr />
                </div></div>
    </div>
</div>
</body>
</html>